<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhy.uutils">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name="com.zhy.uutils.hll_core.HLApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.zhy.uutils.dialogplus_github.DialogplusActivity" />

        <activity android:name=".scheme_preview.AnalyzeActivity">
            <intent-filter>
                <data
                    android:host="lovejjfg.com"
                    android:scheme="test" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>


        <!--主页面-->
        <activity android:name=".drag_view_practice.DragActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view_custome.MainActivitys" />
        <!--<activity android:name=".drag_view_finish.YoutubeActivity" />-->
        <activity android:name=".drag_view_finish.DragActivity" />

        <service
            android:name=".aidl_study.RemoteService"
            android:process=":remote"
            android:enabled="true"
            android:exported="true"/>

    </application>

</manifest>